*{
    padding: 0;
    margin: 0;
}

.navbar{
    background:rgb(246, 246, 248);
}

.icon{
    margin-left: 960px;
}

.nav li{
    display: inline-block;
    padding:18px;   
}

.nav{
    justify-content: space-evenly;
    background:rgb(207, 206, 223);
}

.hero-section{
    background-image: url("s.jpg");
    background-size: cover;
    height:600px;
    width:100%;
}

.hero{
    background-image: url("na.jpg");
    background-size: cover;
    height:600px;
    width:100%;
}

.button {
    position: absolute;
    margin-top:225px;
    margin-left: 198px;
    background-color:#eb670f;
    color: white;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:30px; 
    min-width: 120px;
}

.button:hover{
    background-color: black;
    transition:0.6s;
}

b{
    font-size:63px;
}

p{
    margin-left: 73px;
}

.dropdown {
    position: relative;
    margin-top: 10px;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f5f5;
    color:black;  
    margin-top:330px;
    margin-left: 40px;
    font-weight: 700;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    width:600px;
    height:60px;
  }

/* .nav li:hover{
    background:rgb(233, 189, 189);
    border-radius:10px;
    border:1px solid black;
}
   */

   footer{
       height:96px;
       width:100%;
       background:rgb(207, 206, 223);
   }

   #f1{
       margin-left: 15px;
       margin-top: 17px;
   }

 .p1{
     margin-left: 12px;
 }

 .icons{
     margin-left:1200px;
 }

 .fa-brands fa-facebook-f fa-2xl{
     margin-bottom: 30px;
 }
 
 /* SLIDESHOW */
 .maindiv{
     position:absolute;
     width:48rem;
     margin-top:50px;
     margin-left: 270px;
 }
 
 .slider{
      display:flex;
      aspect-ratio:16/9;
      overflow-x:auto;
      /* scroll-snap-type: x mandatory;
      scroll-behavior: smooth; */
      box-shadow: 0 1.5rem 3rem -0.75rem;
      border-radius:0.5rem;
 }

 .slider img{
     flex:1 0 100%;
     scroll-snap-align: start;
     object-fit: cover;
 }

 .slider-nav{
     display:flex;
     column-gap:1rem;
     position:absolute;
     bottom:1.25rem;
     left:50%;
     transform:translateX(-50%);
     z-index:1;
 }

 .slider-nav a{
     width:0.5rem;
     height:0.5rem;
     border-radius:50%;
     background-color:#fff;
     opacity:0.75;
     transition:opacity ease 250ms;
 }

 .slider-nav a:hover{
     opacity:1;
 } 
 
